In [1]:
import pandas as pd

In [2]:
oct_df = pd.read_csv('OctoberChecking.csv')

In [6]:
oct_df

,Account Name : Fox Checking,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Account Number : 229753847K63032206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date Range : 10/01/2020-10/31/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN,208.05,NaN,NaN
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN,708.05,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN,874.79,NaN,NaN
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN,881.39,NaN,NaN
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN,895.86,NaN,NaN
82,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33,900.6,NaN,NaN
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN,753.27,NaN,NaN

In [8]:
oct_df.loc[2]

Account Name : Fox Checking    Transaction Number
Unnamed: 1                                   Date
Unnamed: 2                            Description
Unnamed: 3                                   Memo
Unnamed: 4                           Amount Debit
Unnamed: 5                          Amount Credit
Unnamed: 6                                Balance
Unnamed: 7                           Check Number
Unnamed: 8                                 Fees
Name: 2, dtype: object

In [9]:
oct_df.columns = oct_df.loc[2]

In [11]:
oct_df.drop([0,1],inplace=True)

In [12]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees
2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN,208.05,NaN,NaN
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN,708.05,NaN,NaN
5,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN,713.18,NaN,NaN
6,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN,744.28,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN,874.79,NaN,NaN
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN,881.39,NaN,NaN
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN,895.86,NaN,NaN
82,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33,900.6,NaN,NaN
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN,753.27,NaN,NaN

In [13]:
oct_df.drop([2],inplace=True)

In [16]:
oct_df.drop(['Check Number'],axis=1,inplace=True)

In [17]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Fees
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN,208.05,NaN
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN,708.05,NaN
5,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN,713.18,NaN
6,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN,744.28,NaN
7,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN,791.84,NaN
...,...,...,...,...,...,...,...,...
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN,874.79,NaN
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN,881.39,NaN
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN,895.86,NaN
82,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33,900.6,NaN
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN,753.27,NaN

In [20]:
oct_df.drop(['Fees  '],axis=1,inplace=True)

In [21]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN,208.05
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN,708.05
5,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN,713.18
6,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN,744.28
7,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN,791.84
...,...,...,...,...,...,...,...
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN,874.79
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN,881.39
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN,895.86
82,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33,900.6
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN,753.27

In [22]:
oct_df.drop(['Balance'],axis=1,inplace=True)

In [23]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN
5,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN
6,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN
7,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN
...,...,...,...,...,...,...
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN
82,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN

In [36]:
oct_df.drop(oct_df.loc[oct_df['Description'] == 'INTERNET TRANSFER FROM:'].index)

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit
3,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN
4,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN
5,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN
6,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN
7,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN
...,...,...,...,...,...,...
78,20201005000000[-5:EST]*-2.28*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINSTARBUCKS,STORE 24498 ARLINGTON VAIN9000 *****1574 10/02...,-2.28,NaN
79,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN
80,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN
81,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN
83,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN

In [58]:
oct_df.reset_index(drop=True,inplace=True)
# oct_df.drop(['Index'],axis=1,inplace=True)
print(oct_df)

2                                  Transaction Number        Date  \
0   20201030000000[-5:EST]*-500.00*13**POS PURCHAS...  10/30/2020
1   20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...  10/30/2020
2      20201029000000[-5:EST]*-31.10*42**POS PURCHASE  10/29/2020
3   20201029000000[-5:EST]*-47.56*13**POS PURCHASE...  10/29/2020
4   20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...  10/28/2020
..                                                ...         ...
76  20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...   10/5/2020
77  20201005000000[-5:EST]*-14.47*42**POS PURCHASE...   10/5/2020
78  20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...   10/5/2020
79  20201005000000[-5:EST]*147.33*512**INTERNET TR...   10/5/2020
80     20201002000000[-5:EST]*-10.48*42**POS PURCHASE   10/2/2020

2                       Description  \
0      POS PURCHASE with PINCALIBER
1   POS PURCHASE with PINGIANT 0774
2                      POS PURCHASE
3   POS PURCHASE with PINGIANT 0774
4     POS PURCHASE Non-PINUBER TRIP
..                              ...
76      POS PURCHASE Non-PINCORADOS
77      POS PURCHASE Non-PINCORADOS
78  POS PURCHASE with PINBEST WORLD
79          INTERNET TRANSFER FROM:
80                     POS PURCHASE

2                                                Memo Amount Debit  \
0   COLLISION 1706 ARLINGTON VA088816 *****1574 10...         -500
1               ARLINGTON VA 001*****1574 10/29 19:18        -5.13
2   Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...        -31.1
3               ARLINGTON VA 001*****1574 10/28 19:21       -47.56
4        HELP.UBER.COM CA IN0002*****1574 10/28 06:00        -9.34
..                                                ...          ...
76  RESTAURANT WASHINGTON DC090207 *****1574 10/02...         -6.6
77  RESTAURANT WASHINGTON DC090207 *****1574 10/02...       -14.47
78          WASHINGTON DC 027750*****1574 10/02 18:39        -4.74
79                                         DDXXXX5941          NaN
80  Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...       -10.48

2  Amount Credit
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
76           NaN
77           NaN
78           NaN
79        147.33
80           NaN

[81 rows x 6 columns]

In [59]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit
0,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN
1,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN
2,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN
3,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN
4,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN
...,...,...,...,...,...,...
76,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN
77,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN
78,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN
79,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33
80,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN

In [61]:
oct_df['Category'] = 'Default'

In [62]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Category
0,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,NaN,Default
1,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,NaN,Default
2,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,NaN,Default
3,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,NaN,Default
4,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,NaN,Default
...,...,...,...,...,...,...,...
76,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,NaN,Default
77,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,NaN,Default
78,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,NaN,Default
79,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,NaN,147.33,Default
80,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,NaN,Default

In [53]:

for x in oct_df['description']:
    #print(x)
    if 'INTERNET TRANSFER' in x:
        print(x)

AttributeError: 'DataFrame' object has no attribute 'data'

In [67]:
oct_df['Amount Debit'].fillna(0,inplace=True)

In [68]:
oct_df['Amount Credit'].fillna(0,inplace=True)

In [70]:
oct_df['Descr'] = oct_df['Transaction Number'] + ' / ' + oct_df['Description']

In [71]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Category,Descr
0,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,0,Default,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...
1,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,0,Default,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...
2,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default,20201029000000[-5:EST]*-31.10*42**POS PURCHASE...
3,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,0,Default,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...
4,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,0,Default,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...
...,...,...,...,...,...,...,...,...
76,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,0,Default,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...
77,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,0,Default,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...
78,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,0,Default,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...
79,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,0,147.33,Default,20201005000000[-5:EST]*147.33*512**INTERNET TR...
80,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default,20201002000000[-5:EST]*-10.48*42**POS PURCHASE...

In [74]:
oct_df['Transaction Number'].apply(lambda x: x.split('**')[1])

0        POS PURCHASE with PINCALIBER
1     POS PURCHASE with PINGIANT 0774
2                        POS PURCHASE
3     POS PURCHASE with PINGIANT 0774
4       POS PURCHASE Non-PINUBER TRIP
                   ...
76        POS PURCHASE Non-PINCORADOS
77        POS PURCHASE Non-PINCORADOS
78    POS PURCHASE with PINBEST WORLD
79            INTERNET TRANSFER FROM:
80                       POS PURCHASE
Name: Transaction Number, Length: 81, dtype: object

In [75]:
oct_df['Transaction Number']

0     20201030000000[-5:EST]*-500.00*13**POS PURCHAS...
1     20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...
2        20201029000000[-5:EST]*-31.10*42**POS PURCHASE
3     20201029000000[-5:EST]*-47.56*13**POS PURCHASE...
4     20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...
                            ...
76    20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...
77    20201005000000[-5:EST]*-14.47*42**POS PURCHASE...
78    20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...
79    20201005000000[-5:EST]*147.33*512**INTERNET TR...
80       20201002000000[-5:EST]*-10.48*42**POS PURCHASE
Name: Transaction Number, Length: 81, dtype: object

In [76]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Category,Descr
0,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,0,Default,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...
1,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,0,Default,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...
2,20201029000000[-5:EST]*-31.10*42**POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default,20201029000000[-5:EST]*-31.10*42**POS PURCHASE...
3,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,0,Default,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...
4,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,0,Default,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...
...,...,...,...,...,...,...,...,...
76,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,0,Default,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...
77,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,0,Default,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...
78,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,0,Default,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...
79,20201005000000[-5:EST]*147.33*512**INTERNET TR...,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,0,147.33,Default,20201005000000[-5:EST]*147.33*512**INTERNET TR...
80,20201002000000[-5:EST]*-10.48*42**POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default,20201002000000[-5:EST]*-10.48*42**POS PURCHASE...

In [77]:
oct_df['Transaction Number'] = oct_df['Transaction Number'].apply(lambda x: x.split('**')[1])

In [78]:
oct_df['Transaction Number']

0        POS PURCHASE with PINCALIBER
1     POS PURCHASE with PINGIANT 0774
2                        POS PURCHASE
3     POS PURCHASE with PINGIANT 0774
4       POS PURCHASE Non-PINUBER TRIP
                   ...
76        POS PURCHASE Non-PINCORADOS
77        POS PURCHASE Non-PINCORADOS
78    POS PURCHASE with PINBEST WORLD
79            INTERNET TRANSFER FROM:
80                       POS PURCHASE
Name: Transaction Number, Length: 81, dtype: object

In [79]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Category,Descr
0,POS PURCHASE with PINCALIBER,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816 *****1574 10...,-500,0,Default,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...
1,POS PURCHASE with PINGIANT 0774,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/29 19:18,-5.13,0,Default,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...
2,POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default,20201029000000[-5:EST]*-31.10*42**POS PURCHASE...
3,POS PURCHASE with PINGIANT 0774,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001*****1574 10/28 19:21,-47.56,0,Default,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...
4,POS PURCHASE Non-PINUBER TRIP,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002*****1574 10/28 06:00,-9.34,0,Default,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...
...,...,...,...,...,...,...,...,...
76,POS PURCHASE Non-PINCORADOS,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-6.6,0,Default,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...
77,POS PURCHASE Non-PINCORADOS,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207 *****1574 10/02...,-14.47,0,Default,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...
78,POS PURCHASE with PINBEST WORLD,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750*****1574 10/02 18:39,-4.74,0,Default,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...
79,INTERNET TRANSFER FROM:,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,0,147.33,Default,20201005000000[-5:EST]*147.33*512**INTERNET TR...
80,POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default,20201002000000[-5:EST]*-10.48*42**POS PURCHASE...

In [85]:
oct_df['Memo'].dtypes

dtype('O')

In [89]:
oct_df['Memo'].apply(lambda x: x)

0     COLLISION 1706 ARLINGTON VA088816 *****1574 10...
1                 ARLINGTON VA 001*****1574 10/29 19:18
2     Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...
3                 ARLINGTON VA 001*****1574 10/28 19:21
4          HELP.UBER.COM CA IN0002*****1574 10/28 06:00
                            ...
76    RESTAURANT WASHINGTON DC090207 *****1574 10/02...
77    RESTAURANT WASHINGTON DC090207 *****1574 10/02...
78            WASHINGTON DC 027750*****1574 10/02 18:39
79                                           DDXXXX5941
80    Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...
Name: Memo, Length: 81, dtype: object

In [82]:
type(oct_df['Memo'][0])

str

In [86]:
type(oct_df['Memo'][11])

str

In [90]:
oct_df['Memo'].fillna('Default',inplace=True)

In [93]:
oct_df['Memo'] = oct_df['Memo'].apply(lambda x: x.split('*****')[0])

In [94]:
oct_df

2,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Category,Descr
0,POS PURCHASE with PINCALIBER,10/30/2020,POS PURCHASE with PINCALIBER,COLLISION 1706 ARLINGTON VA088816,-500,0,Default,20201030000000[-5:EST]*-500.00*13**POS PURCHAS...
1,POS PURCHASE with PINGIANT 0774,10/30/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001,-5.13,0,Default,20201030000000[-5:EST]*-5.13*13**POS PURCHASE ...
2,POS PURCHASE,10/29/2020,POS PURCHASE,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default,20201029000000[-5:EST]*-31.10*42**POS PURCHASE...
3,POS PURCHASE with PINGIANT 0774,10/29/2020,POS PURCHASE with PINGIANT 0774,ARLINGTON VA 001,-47.56,0,Default,20201029000000[-5:EST]*-47.56*13**POS PURCHASE...
4,POS PURCHASE Non-PINUBER TRIP,10/28/2020,POS PURCHASE Non-PINUBER TRIP,HELP.UBER.COM CA IN0002,-9.34,0,Default,20201028000000[-5:EST]*-9.34*42**POS PURCHASE ...
...,...,...,...,...,...,...,...,...
76,POS PURCHASE Non-PINCORADOS,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207,-6.6,0,Default,20201005000000[-5:EST]*-6.60*42**POS PURCHASE ...
77,POS PURCHASE Non-PINCORADOS,10/5/2020,POS PURCHASE Non-PINCORADOS,RESTAURANT WASHINGTON DC090207,-14.47,0,Default,20201005000000[-5:EST]*-14.47*42**POS PURCHASE...
78,POS PURCHASE with PINBEST WORLD,10/5/2020,POS PURCHASE with PINBEST WORLD,WASHINGTON DC 027750,-4.74,0,Default,20201005000000[-5:EST]*-4.74*13**POS PURCHASE ...
79,INTERNET TRANSFER FROM:,10/5/2020,INTERNET TRANSFER FROM:,DDXXXX5941,0,147.33,Default,20201005000000[-5:EST]*147.33*512**INTERNET TR...
80,POS PURCHASE,10/2/2020,POS PURCHASE,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default,20201002000000[-5:EST]*-10.48*42**POS PURCHASE...

In [95]:
oct_df.drop(['Descr','Description'],axis=1,inplace=True)

In [96]:
oct_df

2,Transaction Number,Date,Memo,Amount Debit,Amount Credit,Category
0,POS PURCHASE with PINCALIBER,10/30/2020,COLLISION 1706 ARLINGTON VA088816,-500,0,Default
1,POS PURCHASE with PINGIANT 0774,10/30/2020,ARLINGTON VA 001,-5.13,0,Default
2,POS PURCHASE,10/29/2020,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default
3,POS PURCHASE with PINGIANT 0774,10/29/2020,ARLINGTON VA 001,-47.56,0,Default
4,POS PURCHASE Non-PINUBER TRIP,10/28/2020,HELP.UBER.COM CA IN0002,-9.34,0,Default
...,...,...,...,...,...,...
76,POS PURCHASE Non-PINCORADOS,10/5/2020,RESTAURANT WASHINGTON DC090207,-6.6,0,Default
77,POS PURCHASE Non-PINCORADOS,10/5/2020,RESTAURANT WASHINGTON DC090207,-14.47,0,Default
78,POS PURCHASE with PINBEST WORLD,10/5/2020,WASHINGTON DC 027750,-4.74,0,Default
79,INTERNET TRANSFER FROM:,10/5/2020,DDXXXX5941,0,147.33,Default
80,POS PURCHASE,10/2/2020,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default

In [97]:
oct_df['Content'] = oct_df['Transaction Number'] + ' / ' + oct_df['Memo']

In [98]:
oct_df

2,Transaction Number,Date,Memo,Amount Debit,Amount Credit,Category,Content
0,POS PURCHASE with PINCALIBER,10/30/2020,COLLISION 1706 ARLINGTON VA088816,-500,0,Default,POS PURCHASE with PINCALIBER / COLLISION 1706 ...
1,POS PURCHASE with PINGIANT 0774,10/30/2020,ARLINGTON VA 001,-5.13,0,Default,POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...
2,POS PURCHASE,10/29/2020,Non-PINAmazon.com*2T40W5IX2 Amzn.com/bill WAIN...,-31.1,0,Default,POS PURCHASE / Non-PINAmazon.com*2T40W5IX2 Amz...
3,POS PURCHASE with PINGIANT 0774,10/29/2020,ARLINGTON VA 001,-47.56,0,Default,POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...
4,POS PURCHASE Non-PINUBER TRIP,10/28/2020,HELP.UBER.COM CA IN0002,-9.34,0,Default,POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...
...,...,...,...,...,...,...,...
76,POS PURCHASE Non-PINCORADOS,10/5/2020,RESTAURANT WASHINGTON DC090207,-6.6,0,Default,POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...
77,POS PURCHASE Non-PINCORADOS,10/5/2020,RESTAURANT WASHINGTON DC090207,-14.47,0,Default,POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...
78,POS PURCHASE with PINBEST WORLD,10/5/2020,WASHINGTON DC 027750,-4.74,0,Default,POS PURCHASE with PINBEST WORLD / WASHINGTON D...
79,INTERNET TRANSFER FROM:,10/5/2020,DDXXXX5941,0,147.33,Default,INTERNET TRANSFER FROM: / DDXXXX5941
80,POS PURCHASE,10/2/2020,Non-PINAMAZON.COM*MK5QF04G2 AM AMZN.COM/BILL W...,-10.48,0,Default,POS PURCHASE / Non-PINAMAZON.COM*MK5QF04G2 AM ...

In [99]:
oct_df.drop(['Transaction Number','Date','Memo'],axis=1,inplace=True)

In [100]:
oct_df

2,Amount Debit,Amount Credit,Category,Content
0,-500,0,Default,POS PURCHASE with PINCALIBER / COLLISION 1706 ...
1,-5.13,0,Default,POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...
2,-31.1,0,Default,POS PURCHASE / Non-PINAmazon.com*2T40W5IX2 Amz...
3,-47.56,0,Default,POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...
4,-9.34,0,Default,POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...
...,...,...,...,...
76,-6.6,0,Default,POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...
77,-14.47,0,Default,POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...
78,-4.74,0,Default,POS PURCHASE with PINBEST WORLD / WASHINGTON D...
79,0,147.33,Default,INTERNET TRANSFER FROM: / DDXXXX5941
80,-10.48,0,Default,POS PURCHASE / Non-PINAMAZON.COM*MK5QF04G2 AM ...

In [101]:
oct_df['Amount'] = oct_df['Amount Debit'] + oct_df['Amount Credit']

TypeError: can only concatenate str (not "int") to str

In [102]:
type(oct_df['Amount Debit'][0])

str

In [103]:
oct_df['Amount'] = oct_df['Amount Debit'].astype(float) + oct_df['Amount Credit'].astype(float)

In [105]:
oct_df.drop(['Amount Debit','Amount Credit'],axis=1,inplace=True)

In [106]:
oct_df

2  Category                                            Content  Amount
0   Default  POS PURCHASE with PINCALIBER / COLLISION 1706 ... -500.00
1   Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -5.13
2   Default  POS PURCHASE / Non-PINAmazon.com*2T40W5IX2 Amz...  -31.10
3   Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...  -47.56
4   Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...   -9.34
..      ...                                                ...     ...
76  Default  POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...   -6.60
77  Default  POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...  -14.47
78  Default  POS PURCHASE with PINBEST WORLD / WASHINGTON D...   -4.74
79  Default               INTERNET TRANSFER FROM: / DDXXXX5941  147.33
80  Default  POS PURCHASE / Non-PINAMAZON.COM*MK5QF04G2 AM ...  -10.48

[81 rows x 3 columns]

In [107]:
pd.set_option('display.max_rows',None)

In [108]:
oct_df

2  Category                                            Content   Amount
0   Default  POS PURCHASE with PINCALIBER / COLLISION 1706 ...  -500.00
1   Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...    -5.13
2   Default  POS PURCHASE / Non-PINAmazon.com*2T40W5IX2 Amz...   -31.10
3   Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -47.56
4   Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...    -9.34
5   Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...    -9.78
6   Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...    -3.00
7   Default         INTERNET TRANSFER TO: DDXXXX5941 / Default   -94.83
8   Default                WASHINGTON GAS/PAYMENTEvan / Barnes   -81.96
9   Default            USAA PC/PAYMENTWALTER COLEMAN / Default  -187.68
10  Default  POS PURCHASE / Non-PINRAPPAHANNOCK COFFEE & R ...    -2.40
11  Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -52.51
12  Default            DOMINION ENERGY/BILLPAYWALTER / COLEMAN   -59.55
13  Default  POS PURCHASE Non-PINMCDONALD'S / F20860 WASHIN...    -8.34
14  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...    -3.50
15  Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...   -11.80
16  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -17.51
17  Default  POS PURCHASE Non-PINMUSEUM OF / THE BIBLE WASH...   -10.59
18  Default  POS PURCHASE Non-PINPAYPAL *ETS / GRE 402-935-...  -205.00
19  Default  POS PURCHASE Non-PINUBER TRIP / HELP.UBER.COM ...    -9.70
20  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -21.32
21  Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -11.35
22  Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -48.58
23  Default              VENMO/PAYMENTWALTER COLEMAN / Default  -668.75
24  Default  POS PURCHASE Non-PINTortas y / Tacos La Chiqu ...   -12.55
25  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -18.51
26  Default              VENMO/CASHOUTWALTER COLEMAN / Default   139.21
27  Default  POS PURCHASE with PINSHELL / SERVICE STATION A...    -2.00
28  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -23.08
29  Default     Accenture Federa/PAYRLL / DEPColeman, Walter J  2104.37
30  Default  POS PURCHASE Non-PINTAJ OF / INDIA ARLINGTON V...   -20.60
31  Default  POS PURCHASE Non-PINCOLONIAL / PARKING #648 AR...    -9.00
32  Default  POS PURCHASE Non-PINPP*GOOGLE A / MEDIUM CORP ...    -4.99
33  Default  POS PURCHASE Non-PINNAZRET / RESTAURANT 703-34...   -19.79
34  Default  POS PURCHASE with PINHARRIS / TEETER #3 ARLING...   -64.52
35  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -17.01
36  Default  POS PURCHASE Non-PINDISTRICT / MARTIAL ARTS 85...  -159.00
37  Default               INTERNET TRANSFER FROM: / DDXXXX5941    30.33
38  Default              INTERNET TRANSFER FROM: DDXXXX59 / 41   100.00
39  Default  POS PURCHASE with PINHARRIS / TEETER #3 ARLING...   -51.75
40  Default              VENMO/PAYMENTWALTER COLEMAN / Default    -3.00
41  Default  POS PURCHASE Non-PINNAZRET / RESTAURANT 703-34...   -19.79
42  Default              VENMO/CASHOUTWALTER COLEMAN / Default    10.30
43  Default              VENMO/PAYMENTWALTER COLEMAN / Default   -20.00
44  Default  POS PURCHASE Non-PINUBER EATS / HELP.UBER.COM ...   -25.64
45  Default  POS PURCHASE Non-PINPP*GOOGLE / YOUTUBE TVOD 4...    -3.99
46  Default  POS PURCHASE with PINGIANT 0774 / ARLINGTON VA...   -25.54
47  Default  POS PURCHASE Non-PINSHELL / SERVICE STATION BO...   -35.28
48  Default  POS PURCHASE Non-PINMCDONALD'S / F5123 FALMOUT...    -3.15
49  Default  POS PURCHASE Non-PINITALIAN / STATION FREDERIC...    -7.94
50  Default  POS PURCHASE Non-PINTAJ OF / INDIA ARLINGTON V...   -24.10
51  Default  POS PURCHASE with PINFOOD LION # / 1185 LEESBU...   -41.99
52  Default  Person-to-Person / TransferPAYPAL*Coleman Walt...    41.96
53  Default               INTERNET TRANSFER FROM: / DDXXXX5941   141.83
54  Default  POS PURCHASE / Non-PINAmazon.com*MK3CK5DJ1 Amz...   -11.97
55  Default  POS PURCHASE Non-PINPUPATELLA - / VA ARLINGTON...   -18.20
56  Default         ARLINGTON COUNTY/ARLCO PMTWALTER / Default  -151.80
57  Default  POS PURCHASE Non-PINVHC MYCHART / E-COMMERCE 7...  -216.87
58  Default  POS PURCHASE with PINHARRIS / TEETER #3 ARLING...   -24.42
59  Default               INTERNET TRANSFER FROM: / DDXXXX5941   309.51
60  Default         INTERNET TRANSFER TO: DDXXXX5941 / Default -2129.00
61  Default         VERIZON/PAYMENTRECWALTER COLEMAN / Default   -79.99
62  Default            DOMINION ENERGY/BILLPAYWALTER / COLEMAN  -111.79
63  Default            ROBINHOOD/FundsWalter Coleman / Default   110.31
64  Default     Accenture Federa/PAYRLL / DEPColeman, Walter J  2104.37
65  Default  POS PURCHASE Non-PINNORTH / STREET PRESS CLUB ...   -36.38
66  Default  POS PURCHASE Non-PINHOLIDAY INN / EXPRESS BRA ...  -112.86
67  Default  POS PURCHASE Non-PINMCDONALD'S / F14726 AMELIA...    -1.05
68  Default  POS PURCHASE Non-PINUSA*VEND AT / AIR SERV FAR...    -1.75
69  Default  POS PURCHASE with PINHARRIS / TEETER #3 ARLING...   -61.98
70  Default  POS PURCHASE / Non-PINMURPHY7636ATWALMART FARM...   -31.33
71  Default  POS PURCHASE Non-PINSTARBUCKS / STORE 24498 AR...    -2.28
72  Default  POS PURCHASE Non-PINTAQUERIA EL / POBLANO 3 AR...   -19.75
73  Default  POS PURCHASE Non-PININSOMNIA / COOKIES-ADAMS W...    -6.89
74  Default  POS PURCHASE Non-PINAmazon web / services aws....   -23.84
75  Default  POS PURCHASE Non-PINSTARBUCKS*1 / STORE 24498 ...    -2.28
76  Default  POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...    -6.60
77  Default  POS PURCHASE Non-PINCORADOS / RESTAURANT WASHI...   -14.47
78  Default  POS PURCHASE with PINBEST WORLD / WASHINGTON D...    -4.74
79  Default               INTERNET TRANSFER FROM: / DDXXXX5941   147.33
80  Default  POS PURCHASE / Non-PINAMAZON.COM*MK5QF04G2 AM ...   -10.48

In [109]:
df = oct_df

In [ ]:
#Wrangle data first, then drop all the columns so it's a little easier